# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAa4KSIXYRzIOazBI2q_843FnPAAaJtenw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kei-project-cbbc4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kei-project-cbbc4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kei-project-cbbc4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=902737611380
NEXT_PUBLIC_FIREBASE_APP_ID=1:902737611380:web:aef6d36562a8abe7f85f21

# Optional: API Endpoints
NEXT_PUBLIC_API_URL=http://localhost:3000/api
